@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

.icon-section {
	margin: 0 0 3em;
	clear: both;
	overflow: hidden;
}
.icon-container {
	width: 240px;
	padding: .7em 0;
	float: left;
	position: relative;
	text-align: left;
}
.icon-container [class^="ti-"],
.icon-container [class*=" ti-"] {
	color: #000;
	position: absolute;
	margin-top: 3px;
	transition: .3s;
}
.icon-container:hover [class^="ti-"],
.icon-container:hover [class*=" ti-"] {
	font-size: 2.2em;
	margin-top: -5px;
}
.icon-container:hover .icon-name {
	color: #000;
}
.icon-name {
	color: #aaa;
	margin-left: 35px;
	font-size: .8em;
	transition: .3s;
}
.icon-container:hover .icon-name {
	margin-left: 45px;
}

.places-buttons .btn{
    margin-bottom: 30px
}
.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 45px;
}
.sidebar .nav > li.hqa{
	position: absolute;
	width: 100%;
	bottom: 10px;
}
.sidebar .nav > li.active-pro a{
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #7e7979;
}

.table-upgrade td:nth-child(2),
.table-upgrade td:nth-child(3){
    text-align: center;
}

::-webkit-input-placeholder {color: #cbc8c8; text-transform: lowercase;}
::-moz-placeholder          {color: #cbc8c8; text-transform: lowercase;}/* Firefox 19+ */
:-moz-placeholder           {color: #cbc8c8; text-transform: lowercase;}/* Firefox 18- */
:-ms-input-placeholder      {color: #cbc8c8; text-transform: lowercase;}

.wrapper-name-tracking {
	font-weight: 300;
}

.name-tracking {
	flex: 1;
	border: none;
	font-weight: 600;
	font-family: 'Open Sans',sans-serif;
	font-size: 12px;
	color: #3bbd3f;
	text-transform: uppercase;
	min-width: 50px;
	display: inline-block;
	width: 200px;
}

.star {
	margin: 0px 10px;
	vertical-align: sub;
	display: inline-block;
}

.table-icons-close {
	min-width: 88px;
	float: right;
	text-align: right;
}

.stats {
	display: inline-block;
	margin-right: 6px;
}

.stats-link {
	display: inline-block;
	overflow: hidden;
	color: #468aa7!important;
	font-size: 13px!important;
}

.card .stats i {
	margin-right: 0px!important;
}

.stats-link:hover {
	text-decoration: underline;
}

hr {
	margin: 0px!important;
}

.panel-collapse {
	margin-left: 10px;
}

.pointer {
	cursor: pointer;
}

.content-main:after {
	content: "\f2d6";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	font-size: 400px;
	color: #ecece9;
	top: 50%;
	left: 50%;
	margin: -240px 0 0 -200px;
	z-index: 1;
}

.content {
	border-radius: 5px;
	width: 100%;
}

.history-empty{
	text-align: center;
	font-size: 27px;
	color: #dedddd;
	padding: 15px;
}

.error-text {
	color: #a06464;
	font-size: 14px;
	display: inline-block;
	margin-left: 5px;
}

.icons {
	display: none;
}

.panel-title-collapse {
	display: block;
	width: 100%;
}

.footer-track-info {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.footer-track-info-icon-link {
	height: 12px;
	vertical-align: middle;
	margin-left: 10px;
}

.footer-track-info-icon-calendar {
	color: #a9a9a9;
	margin-left: 10px;
}

.star .fa-ellipsis-v {
	color: #a9a9a9;
}

.panel-wrapper {
	color: rgb(19, 101, 132);
}

.ti-angle-down {
	color: #7676767a;
}

.ti-filter {
	font-size: 12px;
	line-height: 23px!important;
}

.checkbox-switch {
	display: none;
}

.dropdown-toggle {
	background: goldenrod;
	border: 1px solid bisque;
	height: 40px;
}

.filter-form-control {
	width: 300px;
	padding: 5px 7px;
}

.help-text {
	height: 40px;
	cursor: pointer;
}

.help-text i {
	float: right;
	color: gainsboro;
}

.sub-track-changes {
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(184,228,136,0.3435749299719888) 9%, rgba(29,255,0,0) 100%);
}

.err-track-changes {
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(222, 75, 97, 0.34) 9%, rgba(29,255,0,0) 100%);
}

.filter-close {
	float: right;
}

.filter-dropdown {
	background: goldenrod;
	border: 1px solid bisque;
}

.filter-input {
	width: 342px!important;
	padding: 5px 7px;
}

input::-webkit-input-placeholder {
	font-size: 11px;
}

.btn-filter-clear {
	background: goldenrod;
	border: 1px solid bisque;
	height: 40px;
}

.currentContent {
	display: inline-block;
	margin-left: 5px;
	font-size: 15px;
	width: 100%;
}

.hideContent {
	overflow: hidden;
	max-height: 2.5em;
}

.pointer {
	cursor: pointer;
}

.category {
	cursor: pointer;
}

.ti-angle-down {
	display: inline-block;
	vertical-align: top;
}

.currentText {
	display: inline-block;
	width: 95%;
	vertical-align: middle
}

.panel-title .btn-icon {
	padding: 1px 3px;
}

.btn-simple-history:active {
	padding: 2px 3px 0px 3px!important;
}

.filter-empty {
	color: #68B3C8;
}

.filter-full {
	color: #3e3f61;
}

[contenteditable="true"] {
	white-space: nowrap;
	overflow: hidden;
}
[contenteditable="true"] br {
	display:none;

}
[contenteditable="true"] * {
	display:inline;
	white-space:nowrap;
}

.btn-simple.btn-icon {
	padding: 0px 7px;
}

.track_error-border {
	border: 1px solid rgb(251, 212, 212);
}

.track_success-border {
	border: 2px solid #86e023
}

.track_error-all {
	border: 2px solid #ffb9b9;
	background-color: rgb(255, 252, 252);
}

.track_warning-all {
	border: 2px solid #fff466;
	background-color: rgb(255, 252, 252);
}



@-webkit-keyframes rotate {
	100% {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn);
	}
}

@keyframes rotate {
	100% {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn);
	}
}
.rainbow {
	position: relative;
	z-index: 0;
	border-radius: 10px;
	overflow: hidden;
}
.rainbow::before {
	content: '';
	position: absolute;
	z-index: -2;
	left: -50%;
	top: -50%;
	width: 200%;
	height: 200%;
	background-color: #399953;
	background-repeat: no-repeat;
	background-size: 50% 50%, 50% 50%;
	background-position: 0 0, 100% 0, 100% 100%, 0 100%;
	background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
	-webkit-animation: rotate 4s linear infinite;
	animation: rotate 4s linear infinite;
}
.rainbow::after {
	content: '';
	position: absolute;
	z-index: -1;
	left: 6px;
	top: 6px;
	width: calc(100% - 12px);
	height: calc(100% - 12px);
	background: white;
	border-radius: 5px;
}

.btn:active {
	box-shadow: inset 0 0 10px #000000;
}

.og-image {
	max-width: 50px;
	max-height: 50px;
	margin-top: 22px;
	margin-left: 5px;
}

.content_confirmation {
	display: flex; 
	align-items: center; 
	justify-content: center;
}